* {margin: 0; padding: 0; }
body{
background: linear-gradient(90deg, rgb(169, 229, 190), rgb(164, 201, 225));
}
.zagol{text-align: center;}
p{font-size: x-large;
line-height: 1.5;
text-indent: 30px;
letter-spacing: 3px;
}
.lazyload {
 float: left;
 shape-margin: 20px;
}
.obtek { font-size: large;
 overflow: hidden;
}
.text{margin-bottom: 7rem;}
h2{text-align: center; margin-top: 3rem; margin-bottom: 3rem; color: #260c68;}
h2:hover{ color: red;}

.autoprknp{
padding: 10px;
color: blue;
cursor: pointer;
border: 3px solid gray;
border-radius: 1rem;
margin-bottom: .5rem;
}
.perevod{ cursor: pointer;
color: white;
padding: 8px;
font-size: 12px; 
border-radius: 30px;
background-color: transparent; 
border-color: yellow;
} 
*{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
            