.prob{ 
position: absolute;
text-align: center;
margin-top: 7%;
margin-left: 33%;
width: 500px;
z-index: 2;
font-size: 34px;
}
.preloader { opacity: .5;
  position: fixed;
  left: 0%;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #e0e0e0;
  z-index: 3;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

